input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 8.8px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 3.1px 3.1px 1px #2f3300, 0px 0px 3.1px #474d00;
    background: #9dcfff;
    border-radius: 7px;
    border: 1.2px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
    border: 2.2px solid #5358ce;
    height: 29px;
    width: 29px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a2d1ff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 3.1px 3.1px 1px #2f3300, 0px 0px 3.1px #474d00;
    background: #9dcfff;
    border-radius: 7px;
    border: 1.2px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
    border: 2.2px solid #5358ce;
    height: 29px;
    width: 29px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #98cdff;
    border: 1.2px solid #000000;
    border-radius: 14px;
    box-shadow: 3.1px 3.1px 1px #2f3300, 0px 0px 3.1px #474d00;
  }
  input[type=range]::-ms-fill-upper {
    background: #9dcfff;
    border: 1.2px solid #000000;
    border-radius: 14px;
    box-shadow: 3.1px 3.1px 1px #2f3300, 0px 0px 3.1px #474d00;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #050000, 0px 0px 1px #1f0000;
    border: 2.2px solid #5358ce;
    height: 29px;
    width: 29px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 11.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #9dcfff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #a2d1ff;
  }


/* link : http://danielstern.ca/range.css/#/ */ 












table {
    border: 2px solid black;
    /*font-size: 2em;*/
    font-family: 'Raleway', sans-serif;
    
}

td {
    border : 1px solid black;
    text-align : center;
    /*width: 50px;
    height: 50px;*/
    cursor: pointer;
}



/***/



 h1 {
    font-size: 2em;
}

#header {

    height: 4vh;
    width: 98vw;
    
}

#bodyContainer {

    display: flex;
    justify-content: space-around;
    width: 90vw;
}

#tableSpace {

    padding-top: 20px;
    position: relative;
}

#wordsContainer {
    
    width: 40%;
    font-family: 'Josefin Sans', sans-serif;
    
}

#numberOfWordsToFind {
    font-size: 1.5em;
    text-align: center;
    
    
}

#wordsToFindContainer {
    display: flex;
    justify-content: space-between;
    
}

#wordsToFind {
    
    

    /*width: 20%;*/
    
}

#wordsToFind2{
    
    width: 20%;
    
    
}

#wordsToFind3{
    
    width: 20%;
}

#wordsToFind4 {
    width: 20%;
    
}



#wordsToFind p, #wordsToFind2 p, #wordsToFind3 p, #wordsToFind4 p {
    text-align:center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 10px;
    
}


body {
    overflow:auto;
}

.motBarre {
    text-decoration: line-through;
    color:green;
}

.clickedTd {
    background-color: rgb(135,167,232);
}



@media only screen and (max-height: 768px) {

    #wordsToFind p, #wordsToFind2 p, #wordsToFind3 p, #wordsToFind4 p {

        font-size: 1em;
    }

    td {
        font-size: 0.8em;
    }

    #header {
        height: 2vh;
    }

    #numberOfWordsToFind {
        font-size: 1em;
        text-align: center;
        height: 35px;
        
        
    }


}